<div class="innercontent clearfix"> 
	  
      <h3>Loan Application:</h3>
      <p>Fill out an online application now and get the ball rolling
      right away for your new loan. All information will be kept secure using
      SSL-128 bit encryption and will be used for the sole purpose of determining
      loan approval. If you prefer to do so, however, you may download, print
      and fill out a paper loan application and drop it off at one of our branches.
      You may also choose to fax the application to us. Loan approval processing
      will take 2-4 business days, depending on the volume of applications.<br />
      <br />
<br />
Right-click the following links and choose to &ldquo;Save Target As&rdquo; to
download a hard copy of our loan application <br />
<br />
<%= link_to "Loan Application Document", "images/LoanApp2.pdf", :rel => "external" %><br />
</p>
      <table class="default">
          <tr>
            <td><strong>To Mail Application, simply mail to</strong>:<br />
              Country Federal Credit Union <br />
              Attention: Loan Department <br />
              602 South 6th St <br />
              Macclenny, FL 32063</font></td>
            <td></td>
            <td><strong>Or if you prefer to Fax,</strong><br />
              Please submit the forms <br />
              to our Fax Number:<br />
              (904) 259-2666<br />
            </font></td>
          </tr>
      </table>
      <br />
      <br />
      Please accurately fill out all fields on either application. Proof of Income
      will be required before approval can be granted, as well as Proof of Insurance
      for vehicles. Submission of a loan application grants the Credit Union
      right to check the applicant(s) Credit Report to determine credit worthiness.
      Approval of loan applications are subject to the applicant(s) Credit Score
      and Payment History. <br />
      <br />
    If you have any questions, concerns, or need more information, please feel free
    to contact us at (904) 259-6702.<br />
    <h3>
    <%= image_tag "smalldots.gif", :alt=>"" %></h3>
        </div>
	</div>