<div class="innercontent clearfix">
    <h1>Membership:</h1>
      <p>Country Federal Credit Union strives to deliver the best service possible
        to our most important asset - our members. To join, please stop by our
        office for an application.</p>
      <h2>What Is A Credit Union?</h2>
      <p>A credit union is a cooperative financial institution,
      owned and controlled by the people who use its services. These people are
      members. Credit unions serve groups that share something in common, such
      as where they work, live, or go to church.</p>
      <p>Credit unions are not-for-profit, and exist to provide a safe, convenient
        place for members to save money and to get loans at reasonable rates.
        Credit unions, like other financial institutions, are closely regulated.
        And they operate in a very prudent manner. The National Credit Union
        Share Insurance Fund, administered by the National Credit Union Administration,
        an agency of the federal government, insures deposits of credit union
        members at more than 11,000 federal and state-chartered credit unions
        nationwide. Deposits are insured up to $250,000.</p>
      <p>What makes a credit union different from a bank or savings &amp; loan?
        Like credit unions, these financial institutions accept deposits and
        make loans&mdash;but unlike credit unions, they are in business to make
        a profit. Banks and savings &amp; loans are owned by groups of stockholders
        whose interests include earning a healthy return on their investments.</p>
      <p><strong>Why Join A Credit Union?<br />
      </strong>Founded on the basic democratic premise of the cooperative
      movement, credit unions believe that access to low-cost financial services
      is critical to the health and stability of ordinary citizens. In fact,
      more than 67 million Americans trust that their credit union will provide
      the services to improve their financial well being.&nbsp;</p>
      <p>Credit union membership offers many benefits. Services offered range
        from simple savings to home equity loans to IRAs. Study after study has
        revealed that on average, credit unions provide the best financial offerings
        with fewer fees, lower rates on loans and higher rates on savings. And
        credit unions continually score higher than all other financial institutions
        in consumer satisfaction surveys.</p>
      <p>Credit unions strive to deliver the best service possible to their
        most important asset - their members.</p>
      <p class="centertext">
          <%= link_to image_tag("BCCHAMBER.jpg", :alt=>"BC Chamber"), "http://www.bakerchamberflorida.com/home.htm", :rel => "confirm external" %>
      </p>
    </div>