<div class="innercontent clearfix">
    
    <h1>Privacy Notice and Disclosure:</h1>
            
      <p>Country Federal Credit Union, your member owned financial institution,
        is committed to providing you with competitive products and services
        to meet your financial needs and help you reach your goals. We are
        equally committed to protecting the privacy of our members. Under federal
        law, we are required to give you this privacy notice. It describes
        our credit union's privacy policy and practices concerning the personal
        information we collect and disclose about our members. It also includes
        information about the parties who receive personal and sometimes nonpublic
        information from us as we conduct the business of the credit union.</p>
      
      <p>If after this notice you have questions, please contact us at: (904)
          259-6702, or write to:</p>
      
      <p>Country Federal Credit Union<br />
          602 South 6th Street<br />
          Macclenny, FL 32063</p>
      
      <h2>Information We Collect About You:</h2>
      
      <p>We collect nonpublic personal information about you from the following sources:</p>
      
      <ul>
        <li>Information we receive from you on applications and other forms</li>
        <li>Information about your transactions with us</li>
        <li>Information we receive from a consumer reporting agency</li>
      </ul>
        
      <p>We may disclose all of the information we collect, as described above,
        as permitted by law.</p>
    
      <h2>Parties Who Receive Information From Us:</h2>
      <p>We may disclose nonpublic personal information about you
        to the following types of third parties:</p>
      
      <ul>
        <li>Financial service providers, such as insurance companies, mortgage
          service companies, and securities broker-dealers</li>
        <li>Non-financial companies, such as consumer reporting agencies, data
          processors, check/share draft printers, financial statement publishers,
          retailers, plastic card processors, direct marketers, and government
          agencies.</li>
      </ul>
      
      <h2>Disclosure of Information to Parties That Provide Service to Us:</h2>
      
      <p>In order for us to conduct the business of the credit union,
        we may disclose all of the information we collect, as described above,
        to companies that perform marketing or other services on our behalf or
        to other financial institutions with whom we have joint marketing agreements
        so that we may provide members competitive products and services.&nbsp; We
        may also disclose nonpublic personal information about you under circumstances
        as permitted or required by law. These disclosures typically include
        information to process transactions on your behalf, conduct the operations
        of our credit union, follow your instructions as you authorize, or protect
        the security of our financial records.&nbsp;</p>
    
      <p>To protect our members' privacy, we only work with companies that
          agree to maintain strong confidentiality protections and limit the
          use of information we provide. We do not permit these companies to
          sell the information we provide to other third parties.</p>
      
      <h2>Disclosure of Information About Former Members:</h2>
      
      <p>If you terminate your membership with Country Federal Credit
        Union, we will not share information we have collected about you, except
        as may be permitted or required by law.</p>
      
      <h2>How We Protect Your Information:</h2>
      
      <p>We restrict access to nonpublic personal information about
        you to those employees who need to know that information to provide products
        or services to you.&nbsp; We maintain physical, electronic, or procedural
        safeguards that comply with federal regulations to guard your nonpublic
        personal information.</p>
      
      <h2>What Members Can Do to Help:</h2>
      
      <p>Country Federal Credit Union is committed to protecting
        the privacy of its members. Members can help by following these simple
        guidelines:</p>
        
      <ul>
        <li>Protect your account numbers, plastic card numbers, PINs (personal
          identification numbers) or passwords. Never keep your PIN with your
          card, which can provide free access to your accounts if your card
          is lost or stolen.</li>
        <li>Use caution when disclosing your account numbers, social security
          numbers, etc. to other persons. If someone calls you explaining the
          call is on behalf of the credit union and asks for your account number,
          you should beware. Official credit union staff will have access to
          your information and will not need to ask for it.</li>
        <li>Keep your information with us current. If your address or phone
          number changes, please let us know. It is important that we have
          current information on how to reach you. If we detect potentially
          fraudulent or unauthorized activity or use of an account, we will
          attempt to contact you immediately.</li>
        <li>Let us know if you have questions. Please do not hesitate to call
          us -- we are here to serve you.</li>
      </ul>
    </div>