<div class="innercontent clearfix"> 
      <h3>The Country Times <br />
        &quot;Everything's Better in the Country.&quot;</h3>
      <br />
        <a name="rates" id="rates"></a><h1>Adjusted Dividend Rates<br />
          <br />
        </h1>
        <div id="whatsnew">
        <p><br />
            Country Federal Credit Union
          has adjusted a majority of its dividend
          rates to meet the competition.</p>
        <p>Dividends
          on Share Accounts are posted to your account
          at the end of each month and are available
          to you the following day.</p>
        <p>All dividend rates
          are subject to change without notice. Be
          sure to give us a call for the latest rates,
          or <%= link_to "click here", rates_path %> to view our current rates online.</p>
        <p>&nbsp;</p>
        </div>
        <div class="rclosures"><h2>Holiday Closures</h2>
          <br />We will be closed for business on the following holidays:<br />
        <table class="closures">
            <tr>
              <th>Independence Day</th>
            </tr>
            <tr>
              <td class="brown">Monday, July 5th</td>
            </tr>
            <tr>
              <th>Labor Day</th>
            </tr>
            <tr>
              <td class="brown">Monday, September 6</td>
            </tr>
            <tr>
                <td><strong>Columbus Day</strong></td>
            </tr>
            <tr>
                <td class="brown">Monday, October 11</td>
            </tr>
            <tr>
                <td><strong>Veterans Day</strong></td>
            </tr>
            <tr>
                <td class="brown">Thursday, November 11</td>
            </tr>
            <tr>
                <td><strong>Thanksgiving Day</strong></td>
            </tr>
            <tr>
                <td class="brown">Thursday, November 25</td>
            </tr>
            <tr>
                <td><strong>Christmas Day</strong></td>
            </tr>
            <tr>
                <td class="brown">Saturday, December 25th</td>
            </tr>
          </table>
          <p>Remember!<br />
          You can view your accounts through our Home Banking system 24/7, even when we're closed!<br />
          </p>          
          </div>
          <div class="clearfix">
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p><%= link_to "Baker County Wildcats Varsity Football Schedule 2010", "pdf/DV32 FB Baker County 2010 Varsity.pdf", :rel => "external" %></p>
              <p><%= link_to "Baldwin Indians Varsity Football Schedule 2010", "pdf/DV32 FB Baldwin Indians 2010 Varsity.pdf", :rel => "external" %></p>
              <br />
          </div>
    </div>